[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
copybot = {editable = true, path = "."}
requests = "*"
pika = "*"
python-json-logger = "*"
click = "*"
pydantic = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.10"
